/* styles.css */

@font-face {
    font-family: 'MeowScript';
    src: url('./assets/fonts/meow-script-v6-latin-regular.woff2');
}

@font-face {
    font-family: 'PlusJakartaSans400';
    src: url('./assets/fonts/plus-jakarta-sans-v12-latin-regular.woff2');
}

:root {
  /* Use descriptive names for your palette */
  --main-background-color: #0A0C10;
  --surface-cards-color: #161B22;
  --hero-color: #B6FF3B;
  --secondary-text-color: #94A3B8;
  --text-light: #ecf0f1;

  /* Fonts */
  --font-logo: 'MeowScript', sans-serif;
  --font-body: 'PlusJakartaSans400', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-background-color);
    color: var(--hero-color);
    font-family: var(--font-logo);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 0px 8px;
    background-color: var(--surface-cards-color);
    margin-bottom: 40px;
    margin-top: 0px;
}

.navLinksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 28px;
}

.navLinks {
    font-family: var(--font-body);
    color: var(--secondary-text-color);
    font-size: 15px;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
}

.resButton {
    background-color: var(--hero-color);
    color: var(--surface-cards-color);
    padding: 12px 20px;
    border-radius: 12px;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 350px; /* Adjust height as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white;  */
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes it a "banner" */
    z-index: -1; /* Puts image behind the text */
    filter: brightness(80%); /* Dims image so text is readable */
}