/* styles.css */

body {
    background-color: green;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 350px; /* Adjust height as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white;  */
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes it a "banner" */
    z-index: -1; /* Puts image behind the text */
    filter: brightness(80%); /* Dims image so text is readable */
}